<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head}">
    <title th:text="${post.title} == null ? 'Create Post' : 'Edit Post'">Post</title>
</head>
<body>
<nav th:replace="~{partials :: navBar}"></nav>
<!-- in an h1, display "Create Post" if post.title == null, else display "Edit Post"-->
<h1 th:text="${post.title} == null ? 'Create Post' : 'Edit Post'">Post</h1>
  <form id="createPost" th:method="post" th:object="${post}" action="#" th:action="@{/posts/create}">
      <label for="posterId">Poster ID:</label>
      <input type="number" th:field="*{posterId}" placeholder="posterId" name="posterId" id="posterId">
      <label for="title">Title</label>
      <input type="text" th:field="*{title}" placeholder="Title" id="title" name="title">
      <label for="description">Description:</label>
      <textarea th:field="*{description}" name="description" id="description"></textarea>
      <input type="hidden" th:field="*{id}" th:value="${post.getId()}" name="id" id="id">
    <input type="submit"/>
  </form>
<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>