<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username} == null ? 'Create User' : 'Edit User'">User</title>
</head>
<body>
<!-- h1 tag displays "Create User" if ${user.name} == null, else display "Edit User" -->
<h1 th:text="${user.username} == null ? 'Create User' : 'Edit User'">User</h1>
    <form id="createUser" th:method="post" th:object="${user}" action="#" th:action="@{/users/createAndEdit}"   >
        <label for="username">Username</label>
        <input th:field="*{username}" type="text" id="username" name="username" placeholder="Username">
        <label for="email">Email</label>
        <input th:field="*{email}" type="text" id="email" name="email" placeholder="Email">
        <label for="password">Password</label>
        <input th:field="*{password}" id="password" name="password" placeholder="Password">
        <input type="hidden" th:field="*{id}" id="id" name="id">
        <button type="submit">Submit</button>
    </form>
</body>
</html>